@font-face {
    font-family: 'Assistant Regular';
    src: url('assistant-regular-webfont.woff2') format('woff2'),
         url('assistant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#content, #child-1-content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #FAFBF9;
    font-family:"Assistant Regular", "Open Sans", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #8E6C88;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
    margin-left: 50px;
}
nav {
    display: flex;
    justify-content: flex-end;
    }
nav a {
    font-size: 1.5em;
    text-align: center;
    color: #FAFBF9;
    text-decoration: none;
    padding: 35px;
    align-self: center;
    margin-right: 25px;
}
.topnav .icon {
    display: none;
  }
nav a:hover {
    background-color: #80CED7;
    color: #FAFBF9;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #054451;
    padding: 25px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    margin-top: -150px;
}
#hero-image {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 220px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #FAFBF9;
    border-style: solid;
    border-color: #80CED7;
    border-width: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #054451;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #63C7B2;
}
#hero-msg h1 {
    font-size: 1.75em;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr 1fr auto auto;
    margin: 50px;
}
h2 {
    background-color: #63C7B2;
    color: #FAFBF9;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
    font-family: "Open Sans", sans-serif;
      
}
p {
    padding: 25px;
    background-color: #8E6C88;
    border-radius: 25px;
    color: #FAFBF9;
    font-size: 1.20em;
    line-height: 1.5em; 
}
#intro-title { 
    grid-row: 1/2;
    grid-column-start: 1;
    text-align: center;
    font-size: 1.5em;
    margin-top: 25px;
    margin-left: 25px;  
}
#intro {
    grid-row: 2/3;
    grid-column: 1/5;
    margin-top: -35px;
}

#approach-diagram {
    grid-row: 3/5;
    grid-column: 1/5;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 15px;
}
#portrait {
    width: 95%;
    grid-row: 5/7;
    grid-column: 1/2;
    align-self: center;
    border-style: solid;
    border-color: #80CED7;
    border-width: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #054451;
}
#bio-title {
    grid-row: 5/6;
    grid-column-start: 2;
    text-align: center;
    font-size: 1.5em;
    margin-top: 27px;
    margin-left: 75px;
}
#bio{
    grid-row: 6/7;
    grid-column: 2/5;
    margin-top: -30px;
    margin-left: 40px;
}
#button {
    background-color: #80CED7;
    border-color: #80CED7;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.5em;
    color: #FAFBF9;
    grid-column: 4/5;
    grid-row: 6/7;
    align-self: end;
    justify-self: left;
    box-shadow: 5px 5px 10px #054451;
    margin-bottom: -50px;
    text-decoration: none;
}
#button:hover {
    font-size: 2em;   
}
footer {
    background-color: #8E6C88;
    color:#FAFBF9;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    color: #80CED7;
    text-decoration: underline;
}


/* Child 1 - My Approach */
.child-1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    margin: 50px;
}
.my-approach-title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    border-style: solid;
    border-color: #80CED7;
    border-width: 10px;
    color: #63C7B2;
    border-radius: 25px;
    font-size: 1.5em;
    box-shadow: 5px 5px 10px #054451;
    margin-bottom: 50px;
}
.observation-based-assessment {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.milestone-academic-plans {
    width: auto;
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.observation-based-assessment .subitem-header{
    grid-column-start: 3;
    margin: 27.5px 100px 27.5px -200px;
    text-align: center;
}
.milestone-academic-plans .subitem-header {
    grid-row: 1/2;
    grid-column-start: 1;
    text-align: center;
    margin-left: 90px;

}
.subitem-para {
    grid-row: 2/4;
    grid-column: 1/4;
    width: auto;
    margin-top: -60px;
}
.subitem-para p {
    margin: 30px;
}
#subitem-img-1 {
    float: left;
    padding: 0 .5em 0 0;
    border-radius: 25px;
    width: 40%;
    min-width: 310px;
}
#subitem-img-2 {
    float: right;
    padding: 0 0 0 .5em;
    border-radius: 25px;
    width: 25%;
    min-width: 190px;
}
#child-1-content footer {
    margin-top: 50px;
}






/* media screen */
@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
    }
  }
  